body {
    background-color: rgba(34, 255, 30, 0.14)
  }
  h1 {
    font-family: fantasy;
  }
  h2 {
    font-family: cursive;
  }
  h5 {
    font-family: monospace;
    font-size: 10px;
    font-style: italic;
    text-align: right;
  }
  img {
    width: 200px;
    border-radius: 30px;
    border-color: #345974;
    margin: 25px;
    border-style: groove;
  }
  p {
    color: #821111;
    font-size: 15px;
    border: 2px solid #c2b0e6;
    padding: 14px;
    border-color: #cccc28;
  }
  .maine_coon {
    border-color: #3681b7;
    color: #3681b7;
    border-style: ridge;
  }
  .siamese {
    border-color: #36b73f;
    color: #36b73f;
    border-style: ridge;
  }
  .persian {
    border-color: #b73636;
    color: #b73636;
    border-style: ridge;
  }
  .sphynx {
    border-color: #adb736;
    color: #adb736;
    border-style: ridge;
  }
  .orange_taby {
    border-color: #8f36b7;
    color: #8f36b7;
    border-style: ridge;
  }